.content {
  min-height: 400px;
  background-color: #7d7d7d;
  display: flex;
  align-items: center;
  justify-content: center;

  .dragonMessage {
    background: rgba(255, 255, 255, 0.6);
    min-width: 400px;
    min-height: 250px;
    border-radius: 30px;
    text-align: center;
    font-size: 200%;
    line-height: 250px;
    color: black;
  }
}
