.header {
  height: 100%;
  min-width: 600px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/dragonheader.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .callout {
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    margin-right: 100px;

    h1 {
      font-size: 430%;
    }
  }
}
